.cabecalhoPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

/* <=============== footer=====================> */

.rodapePrincipal-patrocinadores .container {
    display: flex;
    /* serve para alinhar dois elementos */

    justify-content: space-between;
    /*ajusta o espaço entre os elementos, colocando ele ao meio*/
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*ajusta o espaço envolta de todos os elementos*/
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
    /* alinha os filhos, imput qunto o bottom. dando a mesmo configuração de tamanho entre todos*/

}

.rodapePrincipal-navMap-list {
    display: flex;

    /* flex-direction: column;
     direção da quebra em coluna 
    flex-wrap: wrap;
    quebra de linha  */

    flex-flow: column wrap;
    /* Junção do dois comandos anteriores */


    height: 255px;
}

/* <======================= main ======================> */

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;

    /* Essa tag possuia os objetos com taamnho de 0% ou 0$ oq ocasionava a jução dos itens. com o  width: 20%; na teg filha ja deu pra resolver */
}

.conteudoPrincipal-cursos-link {
    width: 23%;
    margin: 1%;
}

/* <================== Main config ======================> */

/* retirar as margisn que dos objetso das extremidadeses. */

.conteudoPrincipal-cursos-link:nth-child(4n) {
    margin-right: 0;

}

.conteudoPrincipal-cursos-link:nth-child(4n+1) {
    margin-right: 0;

}

/* <============ Parte do video ===========> */


.videoSobre .container {
    display: flex;
}

.videoSobre-sobre {
    text-align: center;
    /* Alinhar o texto ao centro */
    display: flex;
    /* Colocar os itens um ao lado do outro */
    flex-direction: column;
    /* colocar os itens que foram alinhadas, um embaio do outro */
    flex-grow: 2;
    /* Fundir o espaço restante com o elemento */
}

.videoSobre-sobre-list {
    flex-grow: 1;
}

.videoSobre-video {
    flex-grow: 1;
    flex-shrink: 3;
    /* reduz o tamaho do video em duas vezes mais q a lista */

}



/* <================= MOBILE ==================> */

@media(max-width: 768px) {

    .cabecalhoPrincipal-nav {
        flex-direction: column;
    }

    .cabecalhoPrincipal .container {
        flex-direction: column;
        align-items: initial;
        /*alinhamento inicial */
        text-align: center;
    }

    .conteudoPrincipal-cursos {
        flex-direction: column;
    }

    .conteudoPrincipal-cursos-link {
        width: 100%;

        /* define o tamaho de 100% no moblie */
    }

    .rodapePrincipal-navMap-list {
        height: auto;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        align-items: center;
    }

    .rodapePrincipal-patrocinadores-list {
        margin: 0;
        width: 100%;
    }

    .rodapePrincipal-contatoForm {
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }

    .cabecalhoPrincipal-nav-link-app {
        order: -1;

        /* auterar ordem de detrerminado iten dentro do flexbox Container */
    }

    .videoSobre .container {
        flex-direction: column;
    }

    .videoSobre-sobre {
        margin: 0 auto;
    }

}